{% assign policy = data.policy %}
{% assign policy_v = policy.exposures[0].characteristics[0].field_values %}
{% assign ph_v = data.policyholder.entity.values %}
{% assign invoice = policy.invoices.last %}
{% assign end_display = policy.effective_contract_end_timestamp | timestamp_millis_add: "day", -1 %}
{% assign due_display = invoice.due_timestamp | timestamp_millis_add: "day", -1 %}
{% assign infin = data.invoice_financials %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
</head>

{% header %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
  <table width="100%">
    <tr>
      <td>
        <p class="header-contact">
          Acme Insurance Co.<br>
          101 Mission Street<br>
          San Francisco, CA<br>
          +1 415 555 5555<br>
          www.socotra.com
        </p>
      </td>
      <td>
        <img src="http://i.imgur.com/cCB0v64.png" title="Acme Insurance Co" class="logo" height="72px">
      </td>
    </tr>
  </table>
{% endheader %}

<h1>Insurance Invoice</h1><br>

Invoice Number: <b>{{invoice.display_id}}</b><br>
Invoice Date: <b>{{invoice.created_timestamp | timestamp_millis_print: "d MMM YYYY"}}</b><br>

<table class="table border-tops-only content">
  <tr>
    <td>Policyholder</td>
    <td>
      <b>ID:</b> {{data.policyholder.id}}<br>
      <b>Name:</b> {{ph_v.first_name}} {{ph_v.last_name}}
    </td>
  </tr>
  <tr>
    <td>Policy</td>
    <td>
      <b>ID:</b> {{policy.display_id}}<br>
      <b>Effective:</b>
      From {{policy.original_contract_start_timestamp | timestamp_millis_print: "d MMM YYYY" }}
      through {{end_display | timestamp_millis_print: "d MMM YYYY" }}<br>
    </td>
  </tr>
  <tr>
    <td>Due date</td>
    <td>{{due_display | timestamp_millis_print: "d MMM YYYY" }}</td>
  </tr>
</table>

<table class="table price-table">
  {% for fintr in infin.financial_transactions %}
    {% assign transaction_description = fintr.peril_name %}
    {% if fintr.type == 'tax' or fintr.type == 'fee' %}
      {% assign transaction_description = transaction_description | append: " " | append: fintr.tax_name | append: fintr.fee_name %}
    {% endif %}
    {% assign transaction_description = transaction_description | append: " " | append: fintr.type %}
    {% assign transaction_description = transaction_description | strip | capitalize | replace: "_", " " %}

    <tr>
      <td>{{ transaction_description }}</td>
      <td>{{ fintr.amount | format_number_currency: 'en', 'US' }}</td>
    </tr>
  {% endfor %}
  <tr>
    <td><b>Total Due</b></td>
    <td><b>{{ infin.total_due | format_number_currency: 'en', 'US' }}</b></td>
  </tr>
</table>

</body>

{% footer %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
  <table width="100%">
    <tr>
      <td>
        <p class="header-contact">
          Acme - Keep your loved ones secure.
        </p>
      </td>
      <td>
        <p class="header-contact">
          Page {{ | page_number }} of {{ | page_count }}
        </p>
      </td>
      <td>
        <footer></footer>
      </td>
    </tr>
  </table>
{% endfooter %}

</html>

