{% assign policy_c = data.policy.characteristics[0] %}
{% assign ph_v = data.policyholder.entity.values %}
{% assign invoice = data.policy.invoices[0] %}
{% assign end_display = policy_c.policy_end_timestamp | timestamp_millis_add: "day", -1 %}

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://s3-eu-west-1.amazonaws.com/socotra-static-assets-temp/new-styles.css">
</head>

<table width="100%" class="header">
  <tr>
    <td>
      <p class="header-contact">
        Acme Insurance Co.<br>
        101 Mission Street<br>
        San Francisco, CA<br>
        +1 415 555 5555<br>
        www.socotra.com
      </p>
    </td>
    <td>
      <img src="http://i.imgur.com/cCB0v64.png" title="Acme Insurance Co" class="logo" height="72px">
    </td>
  </tr>
</table>

<h1>Simple Auto Insurance Invoice</h1><br>

Invoice Number: <b>{{invoice.display_id}}</b><br><br>

<table class="table border-tops-only content">
  <tr>
    <td>Policyholder</td>
    <td>
      <b>ID:</b> {{data.policyholder.id}}<br>
      <b>Name:</b> {{ph_v.first_name}} {{ph_v.last_name}}
    </td>
  </tr>
  <tr>
    <td>Policy</td>
    <td>
      <b>ID:</b> {{data.policy.display_id}}<br>
      <b>Effective:</b>
      From {{policy_c.policy_start_timestamp | timestamp_millis_print: "MMM dd, YYYY" }}
      to {{end_display | timestamp_millis_print: "MMM dd, YYYY" }}<br>
    </td>
  </tr>
  <tr>
    <td>Due date</td>
    <td>{{invoice.due_timestamp | timestamp_millis_print: "MMM dd, YYYY" }}</td>
  </tr>
</table>

<table class="table price-table">
  <tr>
    <td>Premium</td>
    <td>{{policy_c.gross_premium | format_number_currency: "en","US" }}</td>
  </tr>
  {% for tax in policy_c.tax_groups %}
    <tr>
      <td> {{ tax.name | capitalize }} Tax
      <td> {{ tax.amount | format_number_currency: "en","US" }} </td>
    <tr>
  {% endfor %}
  {% for fee in data.policy.fees %}
    <tr>
      <td> {{ fee.name | capitalize }} Fee
      <td> {{ fee.amount | format_number_currency: "en","US" }} </td>
    <tr>
  {% endfor %}
  <td><b>Total</b></td>
  <td><b>{{ invoice.total_due | format_number_currency: "en","US" }}</b></td>
  </tr>
</table>

Invoice Date: {{invoice.created_timestamp | timestamp_millis_print: "MMM dd, YYYY"}}<br><br>

Acme Insurance Co<br><br><br><br>
____________________________________________<br><br><br>


</body>
</html>
<footer>Acme - Keep your loved ones secure.</footer>
